@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: #573F54; border-radius: 20px;">
<img src="images\HomePageImg.png" class="img-fluid" alt="...">
</div>

<br />
<hr/>
<br />

<h1>Welcome to the Big Brother Monitoring site. We are happy to have you here! Below is a list of services that we provide and links to view our data. </h1>

<br />
<hr />



<br />
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body" style="background-color:#000000;">
                <h5 class="card-title">Visitor Data</h5>
                <p class="card-text">Past and present site visitor locations and personal data is stored here.</p>
                <a class="btn btn-info" asp-controller="UserIPDatas" asp-action="Index">Details</a>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body" style="background-color:#000000;">
                <h5 class="card-title">Interaction Data</h5>
                <p class="card-text">The length of time visitors spend on specific pages can be seen here.</p>
                <a asp-controller="UserInteractions" asp-action="Index" class="btn btn-info">Details</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body" style="background-color:#000000;">
                <h5 class="card-title">Site Data</h5>
                <p class="card-text">Detailed information about your sites pages is stored here.</p>
                <a asp-controller="PageReferences" asp-action="Index" class="btn btn-info">Details</a>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body" style="background-color:#000000;">
                <h5 class="card-title">Session Data</h5>
                <p class="card-text">Was the visitor logged in? Did they make a purchase? Click here to find out.</p>
                <a asp-controller="Sessions" asp-action="Index" class="btn btn-info">Details</a>
            </div>
        </div>
    </div>
</div>





